<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>

  <div class = 'reviews'>
    <h3 align = "center">Submit a Review</h3>
    <div class = 'submit'>
      <textarea></textarea>
    </div>
    <h3 align = 'center'>Reviews</h3>
    <div class = 'comments'>
      
    </div>
  </div>

<%- include("partials/footer"); -%>
